<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>tts</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <h1>𝐓𝐄𝐗𝐓 𝐓𝐎 𝐒𝐏𝐄𝐄𝐂𝐇</h1><br>
  <div id="container">
    <div id="input"></div>
    <form method="post">
      <input type="text" name="text1" id='hiddenInput' required="required" style="float: left;"/>
      <div id="container">
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
</div>

 <script src="static/js/index.js"></script>

</body>
</html>